---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <h2 id="projects" class="tdbc-h3 tdbc-mt-lg">Projects I work(ed) on</h2>
  <div class="tdbc-section">
    <p>Only some projects have a detailed description so far. Please see below for timeline list.</p>
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
        <li class="tdbc-card">
          <div class="tdbc-card__content">
            <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
            <p>{{ page.data.description }}</p>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
  <style></style>

  <h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">General Timeline</h2>

## 2022
* Build more CI tooling for SSE to be executed in the gitlab pipelines
* Built Calibration tool for a client of SSE utilizing angular.io inside of a .NET MAUI webview and a openapi interface towards the frontend and CANOpen towards the hardware
* Grew the skyblock project with 

## 2021
* Built the PTS-Framework at SSE and Plugins utilizing single-spa, asp.net/C# and angular.io
* Worked on a sales tool that allows the configuration of sandbox PCs for the sales Department.
* Together with friends founded a company for and continued to develop the skyblock Project picking up react.js & kafka also aplit up monolyth into microservices.

## 2020
* Digitalized part of the workflow at Rohde&Schwarz with angular.io and c# as part of a 6 months internship
* Graduated from [It-schools-Plattling](http://www.edvschule-plattling.de)
* Build [lifenizer](https://github.com/ekwav/lifenizer) using Test-driven development, angular.io and c#
* Joined [Schubert System Elektronik](https://schubert-system-elektronik.de/de/) (SSE)
* Worked on the webpannel product utilizing BuildRoot, python and angular.io

## 2019
* Built a [distributed server framework](https://github.com/Coflnet/cloud) with C#.
* Build family tree project with qt and javascript
* Started the [skyblock](/skyblock) auction collection and analysis project

## 2018
* Implemented new requirements of GDPR.
* Extended quiz game with multiplayer and a chat. Implemented the [secure signal-protocol](https://en.wikipedia.org/wiki/Signal_Protocol) into it. Made automatic builds.
* Built [Grab Your Item](/grab-your-item) as a school project learning angular.io

## 2017
* Created an extention adding the [oauth2-server](https://github.com/Ekwav/UF_OAUTH2-SERVER) standard to Userfrosting to add login to chat.
* Rebuilt quiz game in Unity3d
* Graduated secondary school
* Built an editor to create new quiz games with jquery, PHP and mariadb.
* Joined [It-schools-Plattling](http://www.edvschule-plattling.de)

## 2016
* Built second version of Quiz Game with other template because first violated developer terms reaching a million downloads.
* Added Chat to the RSS reader app
* Built first game with unity3d

## 2015 
* Built first Quiz Game with Template reaching 29.000 installs 
* Built simple RSS reader android apps and pubished them to Google Play. Writing PHP on the Backend to convert data.

## 2014 
Got into programming after reaching the limit of what could be done with redstone in minecraft and page editor weebly.com.  
Started with javascript, php and the [userfrosting](https://userfrosting.com) framework.


{{ content | safe }}

</main>